html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
	text-align: center;
	background-image: url("../images/backgroundPattern.jpg");
}

.description p {
	font-size: 50px;
}

.bottomSection {
	margin-bottom: 20px;
}

footer {
	margin-top: 40px;
	background-color: #eee;
	height: 40px;
}

footer p {
	margin-bottom: 0;
	padding-top: 10px;
}

#answerContent {
	font-size: 30px;
}

.middleSection .panel {
	margin-top: 30px;
}

.container .jumbotron {
	padding: 10px;
}

#image {
    background-image: url(../images/hangmanImage.jpg);
    background-repeat: no-repeat, repeat;
    background-position: 0px 0px;
    height: 150px;
    width: 160px;
	margin: 0 auto;
}

.letters {
	border: 2px black solid;
	margin: 10px;
	padding: 20px 20px 10px 20px;
}

.lettersCompleted {
	border: 2px black solid;
	margin: 10px;
	padding: 20px 20px 10px 20px;
}

.wordGenerated {
	padding: 30px 0 30px 0;
}


